<ion-view view-title="Company	">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="company in companies" href="#/app/companies/{{companies.id}}">
      	<img ng-src="{{company.face}}">
        <h2>{{company.name}}</h2>
        <p>{{company.address}}</p>
        <ion-list>
	      	<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="comment in company.comments" type="item-text-wrap" href="#/app/comments/{{comment.id}}">
		        <img ng-src="{{comment.face}}">
		        <h2>{{comment.id}}</h2>
		        <p>{{comment.comment}}</p>
	        </ion-item>
      	</ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>