<ion-view view-title="New Visit">
  <ion-content>
  <form ng-submit="addVisit()">
    <div class="list card" style='background-color:#EEF8FB'>
      <div class="item item-avatar item-icon-right" style='background-color:#EEF8FB'>
        <img src="{{company.face}}" >
        <h2>{{company.name}}</h2>
        <p>{{company.address}} </p>  
        <span>Input your visit's insights below:</span>  
      </div>     
    </div>
    <div class="card">

      <div class="list">
        <div class="item">         
          <div style="width:15px;height:40px;float:left" class="button button-clear"><i class="icon ion-social-usd"></i></div>
          <h2 style=" padding-top: 10px; ">Opportunities</h2>
          <p style="width: 100%;">
          <textarea id="txtOpportunities" ng-model="postData.opt_txt" ng-keyup="expandTextOpp()" ng-keydown="expandTextOpp()" placeholder="Add Opportunities" style="width: 100%;"></textarea></p>
        </div>
        <div class="item">         
          <div style="width:15px;height:40px;float:left" class="button button-clear"><i class="icon ion-alert"></i></div>
          <h2 style=" padding-top: 10px; ">Pain Points</h2>
          <p style="width: 100%;">
          <textarea id="txtPain" ng-model="postData.pain_txt" ng-keyup="expandTextPai()" ng-keydown="expandTextPai()" placeholder="Add Pain Points" style="width: 100%;"></textarea></p>
        </div>
        <div class="item">         
          <div style="width:15px;height:40px;float:left" class="button button-clear"><i class="icon ion-ios-list-outline"></i></div>
          <h2 style=" padding-top: 10px; ">Action Items</h2>
          <p style="width: 100%;">
          <textarea id="txtAction" ng-model="postData.action_txt" ng-keyup="expandTextAct()" ng-keydown="expandTextAct()" placeholder="Add Action Items" style="width: 100%;"></textarea></p>
        </div>
        <div class="item">         
          <div style="width:15px;height:40px;float:left" class="button button-clear"><i class="icon ion-document-text"></i></div>
          <h2 style=" padding-top: 10px; ">Comments</h2>
          <p style="width: 100%;">
          <textarea id="txtComment" ng-model="postData.comm_txt" ng-keyup="expandTextCom()" ng-keydown="expandTextCom()" placeholder="Add Comments" style="width: 100%;"></textarea></p>
        </div>
      </div>

    </div> 
    <div class="padding">
      <button type="submit" class="button button-block button-positive">Create Visit</button>
    </div>    
  <br><br>
   </form>
  </ion-content>
</ion-view> 