<ion-view view-title="Browse">
  <ion-content>
    <h1>Visits</h1>
  
  <div class="list card">

  <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>John Smith&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="button button-icon icon ion-social-usd"></a>
	<a class="button button-icon icon ion-alert"></a>
	<a class="button button-icon icon ion-ios-list-outline"></a>
	</h2>
    <p>November 05, 1955 </p>
    
  </div>
  
  <div class="item item-avatar">
    <img src="http://portal/images/photo_resize.php?v=2&personid=11615">
    <h2>Yoav Tal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	<a class="button button-icon icon ion-social-usd"></a>
  	<a class="button button-icon icon ion-alert"></a>
  	<a class="button button-icon icon ion-ios-list-outline"></a>
  	</h2>
      <p>November 05, 1955 </p>
    
  </div>

  
    <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>John Smith&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="button button-icon icon ion-social-usd"></a>
	<a class="button button-icon icon ion-alert"></a>
	<a class="button button-icon icon ion-ios-list-outline"></a>
	</h2>
    <p>November 05, 1955 </p>
    
  </div>

  
    <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>John Smith&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="button button-icon icon ion-social-usd"></a>
	<a class="button button-icon icon ion-alert"></a>
	<a class="button button-icon icon ion-ios-list-outline"></a>
	</h2>
    <p>November 05, 1955 </p>
    
  </div>

  


  <!--
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

  -->
  
</div>
</ion-content>
  
  
</ion-view>
