html, body, #map, #map-container { height: 100%; margin: 0; padding: 0;}
.gm-style-iw + div {display: none;}

textarea {	min-height:40px;}
* {  -webkit-font-smoothing:antialiased !important;}
.card {margin: 10px 7px}
ion-view {background-color: #ddd !important}
.scroll, ui-gmap-google-map, .angular-google-map, .angular-google-map-container {
  height: 100%;
}
.marker-labels {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.btn {
  text-decoration:underline;
  cursor:pointer;
}